.app__header {
    background-color: var(--lime);
    width: 100%;
    height: 4rem;
    position: fixed;
    z-index: 10;
}

.app__header .app__header__logo {
    color: var(--light-text);
    font-size: 2rem;
    font-weight: 900;
    width: 100%;
    position: absolute;
    display: block;
    background-color: var(--teal);
    border-radius: 2rem;
    top: -6rem;
    left: 22%;
    width: 30rem;
    height: 11rem;
    transform: rotate(-10deg);
}

.app__header .app__header__logo .app__header__logo__inner {
    position: absolute;
    transform: rotate(10deg);
    top: 4rem;
    left: 2rem;
}

.app__header .app__header__logo .app__header__line2 {
    display: block;
    font-size: 4rem;
    line-height: 2rem;
}

.app__header__nav {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translateY(-50%);
}

.btn-refresh {
    margin-right: 10%;
    opacity: 0;
    transition: opacity 200ms ease;
}

.btn-refresh.btn-refresh--active {
    opacity: 1;
}